*{
  background-color: #f0f0f0;
}
.header p{
  margin-left: 0%;
margin-right: 20%;
}

 p a{
  color: red;
  }
  p a:hover{
    color: black;
    }
p{
  margin-left: 20%;
margin-right: 20%;
}
.images ul {
    margin-left: 20%;
  margin-right: 20%;
  }

.images ul li {
  display: inline-block;
    }
  .images ul li {
    margin: 10px;
    padding: 10px;
  /* background-color: lightblue; */
  }
.images ul li p{
background-color: Black;
color: white;
}
