*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width:100%;

  color: #000;
  font-family: "Open Sans";
  position: relative;
  /* background-color: #000; */
}
a{
  text-decoration: none;
  transition: .5s;
  color: #fff;
}
ul,li{
  list-style-type: none;
}
footer{
  background-color: rgb(34,34,34);
  color: #fff;
}
.footer_info{
  width:90%;
  margin:0 auto;
  display: flex;
  padding: 30px 0px;
}
.footer_info .footer_width{
  margin-left: 25px;
  padding: 20px 0px;
}
.footer_info h2{
  margin-bottom: 10px;;
}
.about, .contact{
  width:45%;
}
.link{
  width:15%
}
.social_media
{
  margin-top: 20px;
}
.social_media ul
{
  display: flex;
}
.social_media ul li
{
  display: inline-block;
  margin-right: 40px;
  width:50px;
  height: 36px;
  padding-top: 12px;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
}
.social_media ul a:hover{
  background-color: #fff;
  color: #000;
}
.link ul li a{
  display: block;
    margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.link ul li a:hover{
  color:#000;
}
.contact ul li{
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact ul li span{
  margin-right: 10px;
}
.copy-right{
  padding: 6px;
  text-align: center;
  background-color: rgb(66,66,66);
}
@media screen and (max-width:880px){
  .about , .contact{
    width:30%
  }
  .link{
    width:35%;
  }
}
@media screen and (max-width:700px){
  .about , .contact , .link{
    width:100%;
    margin-bottom: 10px;
  }
  .footer_info{
    flex-direction: column;
  }
}
