*{
  background-color: #f0f0f0;
  }
  
 .container .products ul{
  float:none;
list-style-type: none;
margin-left: 18%;
margin-right: 15%;

}
.products ul li{
 display:inline-block;
 background-color: black;

}
.products ul li {
  padding: 10px;
  margin: 20px;
}
.products ul li p{
  background-color: black;
  color: white;
}
